$tagContainerBgColor: #FFFFFF;
$tagItemHoverBgColor:#FF8A21;
$tagItemActiveBgColor:#DE7518;

.tag-container
{
 background-color: $tagContainerBgColor;
 overflow: hidden;
 margin: 10px 5px 0 5px;
 padding: 10px;
}

.tag-item
{
  float: left;
  margin: 10px 15px 5px 0;
  line-height: 20px;
}
.tag-list ul
{
  margin-left: 0;
  list-style: none;
  float: left;
}
.tag-list ul a:hover
{
 background-color:$tagItemHoverBgColor;
}
.tag-list .tag-item a.active
{
  background-color:$tagItemActiveBgColor;
}
.tag-list ul a
{
  text-decoration: none;
  color:#555555;
  padding: 5px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 14px;
  box-sizing: border-box;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}
