.main{
  height: 800px;
  .leftPanel{
    top:0;
    width: 23em;
    height: 100%;
    display: block;
    position: fixed;
    background: url('http://upload.jianshu.io/daily_images/images/JF4BVe82TTNqzRvsZeuF.jpg') no-repeat;
  }
  .content{
    margin-left: 23em;
    background-color: white;
    padding-left: 1em;
    padding-right: 10%;
  }
}
