.settings-main
{
  position: relative;
  padding: 30px 100px;
  margin: 15px;
  font-family: "lucida grande", "lucida sans unicode", "lucida", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei";
}
.settings-title
{
  padding: 5px auto;
}
.settings-title h2
{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
