<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta httpEquiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>500 Internal Error</title>
  </head>
  <body>
    <div id="app">
      <h2>500 Internal Error</h2>
      <p>{{error.message}}</p>
      <pre>{{error.stack}}</pre>
    </div>
  </body>
</html>
