@import "../../theme/variables.scss";

$mainBgColor: #f5f6f6;
$leftBgColor: #188ebd;
$middleBgColor: #f5f6f6;
$rightBgColor: #2ecc71;
$navitemBgColor:#de7518;
$navitemHoverBgColor:#ff8a21;

.main{
  background-color: $mainBgColor;
  padding: 0;
  height:inherit;
  .middle{
     width: 20%;
     background-color: $middleBgColor;
     position: fixed;
     height: inherit;
  }

  .right{
     margin-left: 21%;
     height:inherit;
  }
}

.scrollpanel{
  height: inherit;
}
