@import "../../theme/variables.scss";

$mainBgColor: #f5f6f6;
$leftBgColor: #188ebd;
$middleBgColor: #f5f6f6;
$rightBgColor: #2ecc71;
$navitemBgColor:#de7518;
$navitemHoverBgColor:#ff8a21;

.main{
  background-color: $mainBgColor;
  padding: 0;
  margin: 2px auto auto 1px;
}
.main .middle{
 width: 300px;
 background-color: $middleBgColor;
 margin: 10px 5px;
 float: left;
}
.main .right{
 background-color: $middleBgColor;
 float: left;
 width: 75%;
}
