@import 'bootstrap';

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.app {
}

$navbarWidth: 45px;
$navbarBkg: #188EBD;
$activeColor: #FF8A21;
$hoverColor: #DE7518;

.appContent {
  margin-left: $navbarWidth;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $navbarWidth;
  background-color: $navbarBkg;
  font-size: 1em;

  &>a {
    display: inline-block;
    width: $navbarWidth;
    height: $navbarWidth;
    line-height: $navbarWidth;
    text-align: center;
    font-size: 1.25em;
    color: #fff;

    &:global(.active) {
      background-color: $activeColor;
    }

    &:hover {
      cursor: pointer;
      background-color: $hoverColor;
    }
  }
}
