$greyColor: #5A5A5A;

.articale{
  margin: 5px;
  border-bottom: 1px dashed #d9d9d9;
  width: 100%;
  float: right;
  padding-bottom: 1.25em;

  .title{
    color: #555555;
    text-align: left;
    text-decoration: none;
  }

  .left{
    float: left;
    margin-left: 1em;
    height: 100%;

    .author{
      .photo{
        border: 0.125em solid white;
        border-radius: 50%;
        box-sizing: border-box;
        width: 3.45em;
        height: 3.45em;
        margin-top: 1.75em;
      }
    }
  }
  .right{
    margin-left: 5em;
    .abstract{
      color: #222;
      font-size: 1em;
      text-decoration: none;
    }

    .footer{
      margin-top: 0.625em;
      color: #666;
      font-size: 0.85em;
    }
  }
}
